<div class="chartContainer">
    <div>
        <span>Female</span>
        <canvas style="height: 100px;width: 200px;" baseChart
          [data]="chartDataFemale"
          [labels]="labels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
    </div>
    <div>
        <span>Male</span>
        <canvas style="height: 100px;width: 200px;" baseChart
          [data]="chartDataMale"
          [labels]="labels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
    </div>
</div>